
html {
    margin: 0px;
    box-sizing: border-box;
    color: slategrey;
    
}

/****************************** MENU ***********/

nav {
    display:flex;
    box-shadow: 5px 10px 10px gray ;
    background-color: lightgray;
    margin: -10px;
}

.stationary-menu {
    display:flex;
    flex-basis: 10%;
}


.hamburger {
    color:green;
    background-color: white;
    text-align: center;
    border: none;
    margin:0px;
    flex-basis:0%;
}

.hamburger button {
    border:none;
    width: 0rem;
    margin:0px;
    visibility:hidden;
}

.logo {
    color: rgb(8, 8, 138);
    background-color: white;
    padding:10px;
    min-width: 200px;

}

.links {
    display:flex;
    flex-basis: 90%;
    justify-content: space-between;
}

.toggle {
    display:block;
}

a {
    color: rgb(8, 8, 138);
    text-decoration: none;
}

.header-links {
     display: flex;
     flex-basis: 2fr;
}

.spacer-div {
  flex-basis: auto;
}

.side-link {
    flex-basis: 1fr;
}
 
.side-link a{
    color: green;
      
}
 

.hlink, .logo {
    border-right: 1px solid white;
    padding:10px;
}

.side-link {
    border-left: 1px solid white;
    padding:10px;
}

.hlink:hover {
     background-color: rgb(58, 155, 58);
     border-radius: 6px;
}

  .side-link:hover {  
      background-color: white;
  }


/**********************  TITLE   ******/

.title-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    color: rgb(8, 8, 138);
    margin-top: 40px;
}

.subtitle {
    text-align: center;
}


@media (max-width: 780px) {

nav {
    flex-direction: column;
}

.stationary-menu {
    display:flex;
    flex-basis: 30%;
}


.links {
    flex-direction: column;
    flex-basis:70%;
}

.header-links {
    flex-direction: column;
}

#toggle {
    display:none;
}

.hamburger {
    border: 3px solid lightgray;
    background-color: white; 
    width: 100px;
}

.hamburger button {

    width: 100%;
    height: 100%;
    outline: none;
    font-size: 30px;
    color: lightgray;
    visibility:visible;
    text-align: center;
    justify-content:center;  
}

.hamburger button:active {
color:green;
}

}


